<html>

<head>
  <title><%= person.firstN %>'s Portfolio </title>

  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <div>
    I am
    <%= person.firstN %>
      <%= person.lastN %>
  </div>

  <div>
      <form action="/contact" method="GET" >
        <input type="submit" value="Go to Google" />
    </form>
  </div>

</body>

</html>